body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(to bottom right, #4fc3f7, #ffffff);
  background-attachment: fixed;
  color: #333;
}


.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 20px;
}

/* Logo Section */
.login-logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
}

.login-logo img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin-bottom: 15px;
}

.login-logo h1 {
  font-size: 1.8rem;
  font-weight: bold;
  color: #212b36;
}

.login-logo h1 span {
  color: #ff4081;
}

/* Login Card */
.login-card {
  background-color: #ffffff;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  width: 400px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.login-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 25px rgba(0, 0, 0, 0.3);
}

h2 {
  font-size: 2rem;
  color: #212b36;
  margin-bottom: 10px;
}

.login-subtitle {
  font-size: 1rem;
  color: #6c757d;
  margin-bottom: 20px;
}

/* Form Styles */
.form-group {
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-size: 1rem;
  color: #555;
  display: block;
  margin-bottom: 8px;
}

.form-input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  font-size: 1rem;
  color: #333;
  outline: none;
  background-color: #f9f9f9;
}

.form-input:focus {
  border-color: #4fc3f7;
  box-shadow: 0 0 5px rgba(79, 195, 247, 0.5);
}

.error-message {
  color: #e63946;
  font-size: 0.9rem;
  margin-bottom: 15px;
  text-align: left;
}

/* Button Group */
.button-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.login-button,
.register-button {
  width: 48%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.login-button {
  background-color: #4fc3f7;
  color: white;
}

.register-button {
  background-color: #6c757d;
  color: white;
}

.login-button:hover {
  background-color: #039be5;
  transform: scale(1.05);
}

.register-button:hover {
  background-color: #5a6268;
  transform: scale(1.05);
}


@media (max-width: 768px) {
  .login-card {
      width: 90%;
  }
}
